body{font-family: 'Lato', sans-serif;}
.container{
    width: 1200px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.Head{
    background-color: rgb(57, 135, 110);
    padding: 15px;
}
.row img{
    width: 12%;
    margin: auto;
    padding-top: 4px;
}

.p{
    width: 11%;
    margin: auto;
    
}
.section1{
    width: 60%;
    margin: auto;
    
}
.sec1{
    width: 50%;
    margin: auto;
}
.s1{
    font-size:40px;
}
.s2{
    font-size: 20px;
}
.s21{
    font-size: 15px;
}
.s3{
    
}
.sec1 img{
    width: 50%;
    margin-top: 30px;
}

.section2{
    width: 100%;
    margin: auto;
}
.sec2{
    width: 45%;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(147, 178, 179);
}

.sc1{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}
.sc2{
    font-size: 15px;
    text-align: center;
}
.sc3{
    font-size: 15px;
    text-align: center;
    
}
.sec2 img{
    width: 70%;
    margin: auto;
    margin-left: 70px;
    
}
.sec21{
    width: 45%;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(231, 236, 228);
}
.sec21 img{
    width: 80%;
    margin: auto;
    margin-left: 50px;
}
.sc{
    font-size: 25px;
    text-align: center;
    font-weight: 400;
}
.Button{
    width: 15%;
    margin: auto;
    margin-top: 50px;
}
.section4{
    width: 100%;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(48, 59, 71);
}
.sec4{
    width: 25%;
    margin: auto;
}
.conc{
    
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding: 30px 0px 30px 0px;
    
}
.conc1{
    
    margin: auto;
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    padding: 5px 0px 10px 0px;
}

.section5{
    width: 100%;
    background-color: black;
}
.foot{
    width: 15%;
    margin: auto;
    padding: 5px 0px 5px 0px;
}
